@model List<CalendarEventModel>

@{
    ViewData["Title"] = "Calendar with events";
}

<div id="calendar" style="padding: 1rem;"></div>


@section CssStyles {
    <link rel="stylesheet" href="~/lib/calendar-gc/calendar-gc.css" />
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <script src="~/lib/calendar-gc/calendar-gc.js"></script>
    
    <script>
    $(function (e) {
    var calendar = $("#calendar").calendarGC({
        dayBegin: 1,
        prevIcon: '&#x3c;',
        nextIcon: '&#x3e;',
        onPrevMonth: function (e) {
            console.log("prev");
            console.log(e)
        },
        onNextMonth: function (e) {
            console.log("next");
            console.log(e)
        },
        events: [
            {
                date: new Date('2022-11-28 20:15:00 GMT+3'),
                eventName: "Holiday",
                className: "badge bg-danger",
                onclick(e, data) {
                    console.log(data);
                },
                dateColor: "red"
            },
            {
                date: new Date("2022-11-29"),
                eventName: "Holiday with wife",
                className: "badge bg-danger",
                onclick(e, data) {
                    console.log(data);
                },
                dateColor: "red"
            },
            {
                date: new Date("2022-11-30"),
                eventName: "Working day",
                className: "badge bg-success",
                onclick(e, data) {
                    console.log(data);
                },
                dateColor: "green"
            }
        ],
        onclickDate: function (e, data) {
            console.log(e, data);
        }
    });
})
    </script>
}
