
AspNetSample/.vs/

AspNetSample/AspNetSampleMvcApp/bin/

AspNetSample/AspNetSampleMvcApp/obj/
/AspNetSample/AspNetSample.Business/bin/Debug/net6.0
/AspNetSample/AspNetSample.Business/obj
/AspNetSample/AspNetSample.Core/bin/Debug/net6.0
/AspNetSample/AspNetSample.Core/obj

AspNetSample/AspBetSample.DataBase/bin/

AspNetSample/AspBetSample.DataBase/obj/

AspNetSample/AspNetSample.Business/bin/

AspNetSample/AspNetSample.Core/bin/

AspNetSample/AspNetSample.Data.Abstractions/bin/

AspNetSample/AspNetSample.Data.Abstractions/obj/

AspNetSample/AspNetSample.Data.Repositoires/bin/

AspNetSample/AspNetSample.Data.Repositoires/obj/

AspNetSample/packages/

AspNetSample/WebApplication2/bin/

AspNetSample/AspNetSampleMvcWithIdentityApp/bin/

AspNetSample/AspNetSampleMvcWithIdentityApp/obj/

AspNetSample/WebApplication1/bin/

AspNetSample/WebApplication1/obj/

AspNetSample/AspNetSample.Mappers/bin/

AspNetSample/AspNetSample.Mappers/obj/

AspNetSample/AspNetSample.WebAPI/bin/

AspNetSample/AspNetSample.WebAPI/obj/
/AspNetSample/AspNetSample.Data.CQS/bin/Debug/net6.0
/AspNetSample/AspNetSample.Data.CQS/obj
