@using AspNetSampleMvcApp.Helpers
@model IEnumerable<ArticleDto>

@{
    ViewData["Title"] = "View";
    //Layout = null;
}

<h1>Articles</h1>

<a href="~/article/create">Create article</a>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        @*@await Html.PartialAsync("ArticlePreview", item)*@

        await Html.RenderPartialAsync("ArticlePreview", item);
        

    }
}


@Html.GeneratePagintator(new int[]{1,2,3,4,5,6})


@section CssStyles
{
    <style>
        h1 {
            color: red;
        }
    </style>
}

@* Don't use logic in views
@{
    var x = 1;
    var y = new List<int>()
    {
        1, 2, 3, 4, 5, 6
    };

    foreach (var i in y)
    {
        x += i;
    }
}

<div>@x</div>
*@

